USE [master]
GO
/****** Object:  Database [time]    Script Date: 01/10/2017 14:45:07 ******/
CREATE DATABASE [time] ON  PRIMARY 
( NAME = N'time', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\time.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'time_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\time_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [time].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [time]
GO
/****** Object:  Table [dbo].[time]    Script Date: 01/10/2017 14:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time](
	[Description] [nvarchar](1000) NULL,
	[Location] [nvarchar](1000) NULL,
	[Date] [nvarchar](1000) NULL,
	[AcknowledgeDate] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[time] ([Description], [Location], [Date], [AcknowledgeDate]) VALUES (N'PH011604874, Fajardo', N'14-6 4th Flr B1 OUT', N'12/1/2016 23:54', N'12/1/2016 23:54')
INSERT [dbo].[time] ([Description], [Location], [Date], [AcknowledgeDate]) VALUES (N'Roving Guard, Full A', N'14-6 4th Flr B1 OUT', N'12/1/2016 23:54', N'12/1/2016 23:54')
INSERT [dbo].[time] ([Description], [Location], [Date], [AcknowledgeDate]) VALUES (N'Roving Guard, Full A', N'14-5 4th Flr B1 IN', N'12/1/2016 23:52', N'12/1/2016 23:52')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
